---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate?: Date;
}

const { title, description, pubDate, updatedDate } = Astro.props;

const formatDate = (date: Date) => {
  return date.toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
};
---

<BaseLayout title={`${title} | BaDaaS Blog`} description={description}>
  <article class="prose">
    <h1>{title}</h1>
    <time class="date" datetime={pubDate.toISOString()}>
      {formatDate(pubDate)}
      {updatedDate && <span> (Updated: {formatDate(updatedDate)})</span>}
    </time>
    <slot />
  </article>
</BaseLayout>
